// HEADER

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

.main-nav {
    @include flex($just_content:space-between);
    position: fixed;
    width: 100%;
    transition: .3s;
    z-index: 3;
    .nav-option,
    .nav-icon,
    .menu-mobile {
        @include flex;
        padding: 20px;
        li {
            margin-right: 20px;
            a {
                position: relative;
                color: $white;
                transition: .3s;
                span {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    left: 70%;
                    bottom: 40%;
                    padding: 2px;
                    text-align: center;
                    font-size: 9px;
                    border-radius: 50%;
                }
                i {
                    transition: .3s;
                }
            }
        }
        & li:last-child {
            margin-right: 0px;
        }
    }
    .nav-option {
        display: none;
        font-weight: 600;
        a:hover {
            color: $hover_grey;
        }
    }
    .nav-icon a:hover {
        i {
            color: $hover_grey;
        }
    }
    // Mobile menu
    .menu-mobile {
        @include flex ($flex_direction: column);
        .menu-mobile-icon {
            transition: .3s;
            position: relative;
            color: white;
            cursor: pointer;
            &:hover {
                color: $hover_grey;
            }
        }
        .menu-mobile-options {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            padding: 20px;
            background: $header_black;
            li {
                margin-bottom: 15px;
                a:hover {
                    color: $hover_grey;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .main-nav {
        .nav-option {
            display: flex;
        } 
        .menu-mobile {
            display: none;
        }    
    }       
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}