// Typography
$principal_font_family: 'Roboto', sans-serif;
$second_font_family: 'Playfair Display', serif;

// Colors
$black: #000000;
$header_black: rgba(0, 0, 0, .9);
$dark_grey: #222222;
$first_light_grey: #525252;
$second_light_grey: #9e9393;
$hover_grey: #625959;
$hover_dark_grey: #333030;
$background_grey: #F2F2F2;
$badge_light_blue: #14D0E1;
$green: #008000;
$badge_orange: #FF4E00;
$red: #ff0000;
$white: #FFFFFF;
