// FORM

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
form {
    padding: 70px 10px;
    .form-group {
        @include flex();
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        input {
            width: 100%;;
            padding: 10px;
        }
        input:focus {
            outline: unset;
        }
        i {
            position: absolute;
            top: 30%;
            right: 2%;
        }
        .fa-exclamation-circle {
            color: $red;
        }
        .fa-check {
            color: $green;
        }
    }
    // Password checklist
    .password-check {
        background-color: $background_grey;
        padding: 20px;
        border-radius: 5px;
        h3 {
            margin-top: 0;
            margin-bottom: 20px;
        }
        ul {
            li {
                @include flex ($align: center);
                margin-bottom: 15px;
                font-weight: 700;
                i {
                    margin-right: 5px;
                }
                .fa-times-circle {
                    color: $second_light_grey;
                }        
                .fa-exclamation-circle  {
                    color: $red;
                }
                .fa-check-circle  {
                    color: $green;
                }
            }
            li:last-child {
                margin-bottom: 0;
            }
        }
    }
    // Button
    .btn {
        input {
            width: 100%;
            padding: 15px 25px;
            font-size: 13px;
            font-weight: 500;        
            color: $white;
            background-color: $dark_grey;
            border: none;
            transition: .3s;
            cursor: pointer;
        }
        input:hover {
            opacity: .85;
            background-color: $hover_grey;
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    form .form-group i {
        right: 1%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}    

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    form {
        padding-left: 0;
        padding-right: 0;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
